/* どこに、どんなスタイルを当てるかを定義する。これをCSSと呼ぶ。どこにが、セレクタ。どのようにが、プロパティと呼ぶ。 */

body{
  /* color:#fff; */
  color:#333;
  font-family: Verdana,sans-serif;
  /* background-color: #333; */
  margin:0;
    /* margin:0px; */
  }

header{
  background-color: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container{
  /* background-color:pink; */
  width: 400px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  align-items:center;
  }

.icon{
  /* background-color: skyblue; */
}

.info h1{
  font-weight: normal;
  font: size 24px;
  margin:0;
}

.info p{
 margin:0;
 margin-bottom:16px;
}

.info ul{
 margin:0; 
 padding:0;
 list-style-type:none;
 display:flex;
}

.info ul li{
  margin-right:16px  
}

.icon img{
  border-radius: 80px;  
  border-width: 4px;
  border-style: solid;
  border-color:white;
}

.info{
  /* background-color: tomato; */
  margin-left:32px;
}

.works1{
  width:400px;
  margin-left:auto;
  margin-right:auto;
}

.works1 h1{
  font-weight: normal;
  font: size 24px;
  text-align:center;
  margin-top:60px;
}

.works1 p{
  line-height:1.8;
}

.works2{
  width:400px;
  margin-left:auto;
  margin-right:auto;
}

.works2 h1{
  font-weight: normal;
  font: size 24px;
  text-align:center;
  margin-top:30px;
  margin-bottom: 30px;
}

.works2 p{
  line-height:1.8;
}

footer p{
  text-align: center;
  font: size 14px;
  margin: bottom 60px;
  color:gray;
}

/* div classは、領域を変数化する。 */
/* ドット変数名とすることで、CSS側を定義することが可能 */
/* ①中央寄せとする場合、まず、寄せるコンテンツの横幅を定義する。 */
/* ②そのうえで、空いた余白に対して、margin-left、margin-rightをオートとすると中央寄せとなる。 */

/* 背景色は、background-colorにより変更可能 */

/* フォントは、font-familyによって変更可能。 */

/* 色合いは、rgb表記によって宣言可能。 */
/* 色合いに関しては、16進数によっても同じことができる。 */

  /* color:blue; */
  /* color:rgb(0, 255, 0); */
  /* color:#00ff00; */
  /* color:#0f0; */
